<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Board App</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('nav.ejs') %>
    <div class="write-wrap">
      <form class="write-form" action="/add" method="POST">
        <h3>작성하기</h3>
        <div class="write-header">
          <input
            type="text"
            name="title"
            class="title"
            placeholder="제목을 입력하세요."
            required
          />
          <input
            type="text"
            name="user_name"
            class="user_name"
            placeholder="작성자"
            required
          />
        </div>
          <textarea
            name="content"
            id=""
            cols="30"
            rows="10"
            required
          ></textarea>

          <div class="btn-box">
              <a href="/list" class="btn cancel">취소</a>
            <button class="btn submit" type="submit">작성</button>
          </div>
        </div>

      </form>
    </div>
  </body>
</html>
